<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.rollenholt.application.center.base.dao.DepartmentMapper">

    <select id="list" resultType="io.github.rollenholt.application.center.base.model.Department">
        select
        id,
        code,
        name
        from team_dict
    </select>


</mapper>