<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.rollenholt.application.center.base.dao.ApplicationMapper">

    <select id="findById" parameterType="scala.Int" resultType="io.github.rollenholt.application.center.base.model.Application">
        SELECT
        id,
        name,
        code,
        team_code as teamCode,
        creator,
        create_time as createTime,
        state,
        email_group as emailGroup
        FROM
        application
        where id = #{value}
    </select>

</mapper>