<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.rollenholt.application.center.base.dao.ApplicationAclMapper">

    <select id="queryByApplicationCode" parameterType="String"
            resultType="io.github.rollenholt.application.center.base.model.OperationLog">
        select
        id,
        application_code as applicationCode,
        operator,
        operate_time as operateTime,
        detail
        from operation_log
        where application_code = #{value}
    </select>

    <insert id="saveOperationLog" parameterType="io.github.rollenholt.application.center.base.model.OperationLog">
        insert into operation_log(
        application_code,
        operator,
        operate_time,
        detail
        ) values (
        #{applicationCode},
        #{operator},
        #{operateTime},
        #{detail}
        )
    </insert>

</mapper>